
:root{
    --corWhite: #eee;
    --corblack: #000;
    --shawdownText: 2px 3px 5px rgba(0, 0, 0, 0.397);
    --corButtons: #161616;
    --corbackground: rgb(29, 28, 26);
    --corBackspace:#ff1e00;
    --corselect: #00ff88;
    --contentColor:#faebd7;
    --LayoutColor: #2b2b30;
}


header .header-text .button-theme{

    border-bottom: var(--corWhite);
}


header .header-text .button-theme.select{
    background-color: #0f0f0f;
    border: 2.4px solid var(--corWhite);
}

header .header-text .header-buttons-theme span{

    color: var(--corWhite);

}



header h1{
    color: var(--corWhite);

}



.container .content{

    background-color: var(--contentColor);

}

.container .sub-title{
    color: var(--corBackspace);


}
.container .content .layout{
    background-color: var(--LayoutColor);

}
.container .content .layout p{
    color: var(--corWhite);

    
}


.container .content .numbers button{

    background-color: var(--corButtons);

    color: var(--corWhite);
}

.container .content .numbers button#clear{
    background-color: var(--corbackground);
    color: var(--corWhite);
}

.container .content .numbers button#clear:hover{
    background-color: var(--corselect);
}


.container .content .numbers button.symbol{
    background-color: var(--corButtons);
    color: var(--corWhite);
    text-shadow: var(--shawdownText);
}

.container .content .numbers button:hover, .symbol:hover{
    background-color: var(--corselect);
}



.container .content .numbers #back{
    background-color: var(--corBackspace);
}
.container .content .numbers #back:hover{
    background-color: var(--corselect);
}

